<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Server">
        <setting type="lsep" label="30000" />
        <setting id="host" type="text" label="30101" default="localhost" />
        <setting id="port" type="number" label="30102" default="58849" />
        <setting id="user" type="text" label="30103" default="" />
        <setting id="password" type="text" option="hidden" label="30104" default="" />
    </category>
</settings>
